<div class="index-container">
    <nav> <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/beers">Beers</a>
            </li>
            <li>
                <a href="/randombeers">Random Beers</a>
            </li> </nav>
    <img class="beer-img" src="/images/beer.png">
  <form action="/beers">
    <button type="submit" class="btn btn-primary" href="/beers">Check the beers!</button>
  </form>
  <form action="/randomBeer">
    <button type="submit" class="btn btn-primary" href="/randomBeer">Check a random beer!</button>
  </form>
</div>